    @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-primaria:  #E8ECD7;
    --cor-tercearia: #f48d08;
    --cor-hover: #47663B;
    --cor-fundo: linear-gradient(to bottom right, #81C784, #4FC3F7);

    --fonte-principal: "Krona One", sans-serif; 
    --fonte-secundaria: "Montserrat", sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    /*height: 100vh; */
    background: #023902;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cabecalho{
    height: 190px;
    background-color: #6F4E37;
}
.cabecalho_menu{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end ;
    gap: 60px;
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    padding: 8% 5% 2% 0%;
}
.cabecalho_menu_link{
    color:  var(--cor-tercearia);
    padding: 0.3%;
    background-color: var(--cor-primaria);
    border: 0.15rem line var(--cor-tercearia);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.cabecalho_menu_link:hover{
    padding: 0.2%;
    color: var(--cor-primaria);
    background-color: #FFA726;
    border: 0.14rem double var(--cor-primaria);
    border-radius: 4px;
}
.conteiner{
    background: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), /* overlay preto translúcido */
         url(../assets/canastra2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    max-width: 100%;
    height: 500px;
    padding-left: 3%;
}

.conteiner_conteudo_titulo{
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    color:var(--cor-tercearia);
    line-height: 1.6;
    text-align: center;

}
.conteiner_conteudo_texto{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    color: #333333;
    font-weight: 600;
    line-height: 1.6;
}




.container__texto-azul {
    color: #1875E8;
}

.img{                   /* Imagem acima da calculadora  */
    display: flex;
    width: 350px;
    height: auto;
    max-width: 100%;
    padding: 3% 0% 0% 45%;
}
.conteiner_rosa{  
    max-width: 60%;
    height: auto;
    object-fit: contain;
    background-color: rgb(23, 50, 11);
    border-radius: 8px;

}

.conteiner_conteudo-calc {       /* section */
    background-color: #F5F5DC; /* bege clarinho */
    border-radius: 30px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    max-width: 100%;
    height: 350px;
}
.container_calc__informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 30px;
}
.conteiner_calc_texto {
    color: rgb(62, 8, 241);
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
    font-weight: 100;
    line-height: 1.6;
    font-weight: bold;
    
}
.conteiner_calc_entrada{     
    width: 50%;
    border-radius: 16px;
    border: none;
    padding: 1rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    background-color: #325737;
    text-align: center;

}
.conteiner_button_filha{
    color:  var(--cor-tercearia);
    background-color: var(--cor-primaria);
    border: 0.15rem line var(--cor-tercearia);
    font-family: var(--fonte-secundaria);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 10px;
    font-weight: bold;
}
.conteiner_button_filha:hover{

    color: var(--cor-primaria);
    background-color: #FFA726;
    border: 0.14rem double var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 10px;
    font-weight: bold;
}









.conteiner_img{                   /* folha pegada */
    width: 25%;
    background-size: 100% 100%;
    background-position:right;
}
.conteiner_rodape{              /*  floter */
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), /* overlay preto translúcido */
        url(../assets/Rio.png);
    background-size:100% 100%;
    height: 250px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.conteiner_menu_rodape{    /*  Section */
    display: flex;
    flex-direction: column;
}

.conteiner_rodape_subtitulo{
    color: #4FC3F7;
    line-height: 1rem;
    font-weight: bold;
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
}
.conteiner_navegacao{
    display: flex;
    color:  var(--cor-tercearia);
    flex-direction: row;
    gap: 6px;
}
@media (max-width: 1400px){
    .cabecalho{
        padding: 5%;
    }
    .cabecalho_menu{
        justify-content:right;
        gap: 5%;
    }
    .cabecalho_menu_link{
        padding: 0.2%;
    }
    .conteiner_conteudo{
        max-width:100%;
    } 
    .conteiner {
        max-width: 100%;
    }      
}

/* ################  calculadora ########################*/













